@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    /*box-sizing: content-box;*/  /*valor por defecto*/
    box-sizing: border-box;



}
.colorLogo{
    color: #417A8E;
}
.colorFondos{
    color: #181419;
}
.colorDeMarca{
    color: #0045B5;
}
.colorDeRealce{
    color: #00296a;
}
.colorFuente{
    color: #f0f8ff;
}

header{
    background-image: linear-gradient(to right top, #012155, #00317c, #0041a6, #0052d1, #0263fd);
    color: #f0f8ff;
    padding: 20px;        /*para padding y margin no usar medidas relativas*/
    /*height: 100px;*/      /*valor absoluto al alto del contenedor, para que no se ajuste al contenido*/
    height: 15vh;       /*valor relativo*/
}   

body{
    a{  text-decoration: none; /*saco el subrayado a las anclas*/
        color: #f0f8ff;
        display: inline-block;
    }

    header{
        nav{
            ul{
                list-style: none;
                li{
                    display: inline-block;
                    margin: 1%;
                    text-align: center;
                }
            }

        }
    }
}


.seccion1{
    background-image: url(../assets/img/bg-celeste.jpg);
    background-size: cover; /*Le pido que la imagen se acomode para ocupar todo el contenedor*/
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /*el bg queda fijo*/
    color: #f0f8ff;
    font-size: 1.2rem;
    line-height: 1.5; 
    text-align: center;
}

