@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    /*box-sizing: content-box;*/  /*valor por defecto*/
    box-sizing: border-box;
}

:root{
    --main-color: #417A8E;
    --secondary-color: #181419;
    --third-color: #0045B5;
    --third-color-t: #f0f8ff;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: var(--secondary-color);
    color: var(--third-color-t);
}
.bg-argenfilm{
    background-color: var(--third-color);
    color: var(--third-color-t);
}